<legend>Tus Mejores Clientes</legend>
<div class="row">
	<!--Pattern HTML-->
	<div id="pattern" class="pattern">
		<ul class="list img-list">
			<% @clientes.each do |cliente| %>
			<li>
				<div class="li-img">
					<img  class="img-thumbnail" id="show_identicon" width = "50px" src="/images/identicon.png">
				</div>
				<div class="li-text">
					<h4 class="li-head"><%= cliente.nombre  %></h4>
					<p class="li-summary"><%= cliente.direccion  %></p>
					<p class="li-action"><%= cliente.numero_de_identificacion  %></p>
				</div>
				<div class="li-money">
					<span class="text-success">$223.23</span>
					<small class="text-muted">consumo</small>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
	<!--End Pattern HTML-->
</div>
