<div class="clients white-backg col-xs-12 col-md-4">
  <div class="col-md-4 col-xs-3">
    <img  class="img-thumbnail" id="show_identicon" width="80px" src="/images/identicon.png">
  </div>
  <div class="col-md-6 col-xs-7 text-left">
    <%= cliente.nombre %><br>
    <span class ="identificacion"><%= cliente.numero_de_identificacion %></span><br>
    <span class ="domicilio"><%= cliente.direccion %></span>
  </div>
  <div class="col-md-2 col-xs-2">
   <%=  link_to 'Editar', edit_cliente_path(cliente), :remote => true, :rel=> 'tooltip', :title=>'Mostrar','data-toggle' =>  "modal", 'data-target' => '#myModal', class: "btn btn-default btn-xs"%>
 </div>
</div>