<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Cliente</h3>
</div>
<%= form_for(@cliente, :remote => true) do |f| %>
<div class="modal-body">
  <div class="field">
    <div class="col-md-6">
      <div class="row text-center">
        <div class="col-lg-12">
          <p></p>
          <img  class="img-thumbnail" id="show_identicon" width="110px" src="/images/identicon.png">
          <p></p><p></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, required:true, class: "form-control"%>
      <%= f.label :numero_de_identificacion, "C.I O RUC" %>
      <%= f.text_field :numero_de_identificacion, required:true, class: "form-control", id: "identificacion"%>
    </div>
    <div class="rosw">
      <%= f.label :direccion %>
      <%= f.text_field :direccion, class: "form-control" %>
      <%= f.label :telefono %>
      <%= f.text_field :telefono, class: "form-control" %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>
