<%= form_for(@cliente, :remote => true) do |f| %>
<div class="client row">
  <div class="col-md-2 text-center">
    <img  class="img-thumbnail client-identicon" id="show_identicon" width="110px" src="/images/identicon.png"><br>
    <small class="text-muted">Este es tu avatar</small>
  </div>
  <div class="col-md-4">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, required:true, class: "form-control"%>
    <%= f.label :numero_de_identificacion, "C.I O RUC" %>
    <%= f.text_field :numero_de_identificacion, required:true, class: "form-control", id: "identificacion"%>
    <%= f.label :direccion %>
    <%= f.text_field :direccion, class: "form-control" %>
  </div>
  <div class="col-md-5">
    <%= f.label :telefono %>
    <%= f.text_field :telefono, class: "form-control" %>
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %><br>
    <%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
  </div>
</div>
<% end %>
