<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Información</h1>
</div>
<div class="modal-body">
  <div class="col-md-2 text-center">
    <img  class="img-thumbnail" id="show_identicon" width="100px" src="/images/identicon.png">
  </div>
  <div class="col-md-10">
    <p>
      <strong>Nombre:</strong>
      <%= @cliente.nombre %>
      <p>
        <strong>Número de identificación:</strong>
        <span class="identificacion"><%= @cliente.numero_de_identificacion %></span>
      </p>
      <p>
        <strong>Dirección:</strong>
        <%= @cliente.direccion %>
      </p>
    </p>
  </div>
  <div class="more-info">
    <p>
      <strong>Teléfono:</strong>
      <%= @cliente.telefono %>
    </p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:"><%= @cliente.email%></a>
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
  <%= link_to 'Editar', edit_cliente_path(cliente), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "editar_edit"}%>
</div>