<legend>Clientes</legend>
<%= link_to "Nuevo", new_cliente_path%>
<div id="list-clients">
	<%= sync partial: 'list_clientes', collection: @clientes, as: :cliente %>
    <%= sync_new partial: 'list_clientes', resource: Cliente.new %>
</div>
