<%- if @cliente.errors.any? %>
  $('#content_modal').html('<%= escape_javascript(render('form')) %>');
  <%- @cliente.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $("#myModal").modal("hide");
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();
  window.Helpers.init_datatables();
  alertify.success("Cliente guardado");
<%- end %>