<%- if @mesa.errors.any? %>
  <%- @mesa.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $('.form-mesa').trigger("reset");
  alertify.success("Almacenado");
<%- end %>
