<h2>Mesa</h2>
<div class="col-md-3">
	<%= form_for @mesa, :html => {:class => "form-mesa"}, :remote => true  do |f| %>
	<div class="input-group">
		<%= f.text_field :numero, class: "form-control", placeholder: "Ingrese nombre cuarto"  %>
		<span class="input-group-btn">
			<%= f.submit '+', class: "btn btn-info", :remote => true %>
		</span>
	</div><br>
	<% end %>
</div>
<br>
<section>
	<legend class="text-center">Mi Restaurant</legend>
	<ul class="grid mesas">
    <%= sync partial: 'list_mesas', collection: @mesas, as: :mesa %>
    <%= sync_new partial: 'list_mesas', resource: Mesa.new %>
	</ul>
</section>
