<div class="white-backg clients col-xs-12 col-md-6">
	<div class="col-md-2 col-xs-2">
		<img  class="img-thumbnail" id="show_identicon" width="50px" src="/images/identicon.png">
	</div>
	<div class="col-md-8 col-xs-8 text-left">
		<%= factura.cliente.nombre %><br>
		<span class ="identificacion"><%= factura.cliente.numero_de_identificacion %></span>
	</div>
	<div class="col-md-2 col-xs-2 text-center">
		<h4 class="text-success">$<%= factura.total %></h4>
	</div>
</div>