<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente.nombre%>
</p>
<p>
  <strong>Fecha de Emisión:</strong>
  <%= @factura.fecha_de_emision %>
</p>
<table class="table table-hover">
  <thead class= "well">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @factura.item_facturas.each do |item| %>
    <tr>
      <td><%= item.producto.nombre%></td>
      <td><%= item.cantidad %></td>
      <td>$ <%= item.valor_unitario %></td>
      <td>$ <%= item.iva %></td>
      <td>$ <%= item.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-xs-4 col-xs-offset-6 text-right">
    <p>
      <strong>
        Subtotal 12%: <br>
        Subtotal 0%: <br>
        IVA: <br>
        Total: <br>
      </strong>
    </p>
  </div>
  <div class="col-xs-2">
    <strong>
      $ <%= @factura.subtotal_12 %><br>
      $ <%= @factura.subtotal_0 %><br>
      $ <%= @factura.iva %><br>
      $ <%= @factura.total %><br>
    </strong>
  </div>
</div>
