<%- if @factura.errors.any? %>
  <%- @factura.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $(".factura-content").toggleClass("hovered");
  $(".comprobante").fadeOut(0);
  $(".white-backg").prepend('<%= j(render partial: 'shared/animation') %>');
  $(".animation-save").append('<a class=" btn btn-default reset-fields" href="/facturas/<%= @factura.id%>.pdf" target="_blank"><i class="fa fa-print"></i>  Imprimir</a> <span class=" btn btn-default nueva_factura">Nueva</span>');
  window.Helpers.ResetFactura.reseted();
<%- end %>
