m = $('#content_modal');
m.html('<%= j(render partial: 'facturas/venta/pedido', locals: {factura: @factura}) %>');
window.Helpers.AutocompleteHelper.init_autocomplete();
window.Helpers.AutocompleteHelper.calcular_valores_factura();
