<div class="col-md-6 col-xs-11 factura-content white-backg col-md-offset-3">
	<div class="comprobante">
		<%= nested_form_for @factura, :html => {:id => "form-factura"}, :remote => true do |f| %>
			<!-- formulario datos del cliente -->
			<div class="row-fix-div">
				<div class="col-md-3 col-xs-4">
					<img  class="img-thumbnail" id="show_identicon" width="110px" src="/images/identicon.png">
				</div>
				<div class="col-md-8">
					<%= f.fields_for :cliente do |cliente_params| %>
					<%=  cliente_params.hidden_field :id, class: "cliente_id" %>
					<%=  cliente_params.text_field :numero_de_identificacion, class: "form-control-border numero_de_identificacion", :placeholder => "Cédula o RUC", id: "identificacion" %>
					<%=  cliente_params.text_field :nombre, class: "form-control-border nombre", :placeholder => "Nombres Apellidos" %>
					<%=  cliente_params.text_field :direccion, class: "form-control-border direccion", :placeholder => "Dirección"%>
					<%=  cliente_params.text_field :telefono, class: "form-control-border telefono", :placeholder => "Teléfono"%>
					<% end %>
				</div>
			</div>
			<!-- item factura -->
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table" id="factura">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>V.Unit</th>
								<th>I.V.A.</th>
								<th>Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<%= f.fields_for :item_facturas, :wrapper => false do |item| %>
							<tr class="fields">
								<%= render 'items/items', item:item %>
								<%= item.hidden_field :tipo %>							
							</tr>
							<% end %>
							<tr>
								<td><%= f.link_to_add "", :item_facturas, :class => "fa fa-plus text-info"%>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		<!-- datos de impuestos factura -->
		<div class="products-info col-md-12">
			<div class="col-xs-6">
				<h5 class="total_factura">Total: $ 
					<% if @factura.total %>
					<%= @factura.total %> 
					<% else %>
					0.0
					<% end %>
				</h5>
			</div>
			<div class="col-xs-6 text-right">
			<%= f.submit :Guardar, class: "btn btn-block btn-info", data: {disable_with: "Almacenando"}%>
			</div>
		</div>
		<% end %>
	</div>
</div>
