<!-- <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"</div> -->
</div>
<div class='text-center text-white animation-save'><i class=' fa fa-check-circle fa-5x text-center'></i><h5>Almacendo</h5></div>
