<div class="factura-mesa">
	<%= form_tag facturado_pedido_path do %>
	<div class="row-fix-div">
		<div class="col-md-3 col-xs-4 text-center">
			<img class="img-thumbnail" id="show_identicon" width="110px" src="/images/identicon.png">
		</div>
		<div class="col-md-8 col-xs-8">
			<input id="factura_tipo" name="factura[tipo]" type="hidden" value="normal">
			<div class="fields">
				<%= hidden_field_tag :cliente_id, params[:cliente_id], class: "cliente_id" %>
				<%= text_field_tag :numero_de_identificacion, params[:numero_de_identificacion], :required => true, class: "form-control-border numero_de_identificacion", :placeholder => "Cedula o R.U.C", id: "identificacion" %>
				<%= text_field_tag :nombre, params[:nombre], :required => true, class: "form-control-border nombre", :placeholder => "Nombre" %>
				<%= text_field_tag :direccion, params[:direccion], :required => true, class: "form-control-border direccion", :placeholder => "Direccion Domicilio" %>
				<%= text_field_tag :telefono, params[:telefono], :required => true, class: "form-control-border telefono", :placeholder => "Telefono" %>
			</div>
		</div>
	</div>
	<div class="valores col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Iva</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<% @pedido.item_pedidos.each do |item| %>
				<tr>
					<td><%= item.producto.nombre%></td>
					<td><%= item.cantidad %></td>
					<td>$ <%= item.valor_unitario %></td>
					<td>$ <%= item.iva %></td>
					<td>$ <%= item.total %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-6 text-right">
				<p>
					<strong>
						Subtotal 12%: <br>
						Subtotal 0%: <br>
						IVA: <br>
						Total: <br>
					</strong>
				</p>
			</div>
			<div class="col-xs-2">
				<strong>
					$ <%= @pedido.subtotal_12 %><br>
					$ <%= @pedido.subtotal_0 %><br>
					$ <%= @pedido.iva %><br>
					$ <%= @pedido.total %><br>
				</strong>
			</div>
		</div>
	</div>
	<div class="text-right col-md-12">
		<span class="btn btn-default volver-pedido">Volver</span>
		<%= submit_tag "Guardar", data: {disable_with: "Facturando..."}, class: "btn btn-success save-factura" %>
	</div>
	<% end %>
</div>				
