<h4>Mesa #<%=@mesa.numero%> </h4>
<div class="col-md-8 white-backg col-md-offset-2 pedido-camarero">
	<div class="pedido-form">
		<%= nested_form_for [@mesa, @pedido] do |f| %>
		<%= form_errors_for @pedido %>
		<div class="title-pedido">
			<h3 class="text-center title-pedido"><i class="flaticon-waiter"></i> Que desea Ordenar?</h3>
		</div>
		<div class="table-pedido">
			<table class="table" id="factura">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Precio</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%= f.fields_for :item_pedidos, :wrapper => false do |item| %>
					<tr class="fields">
						<%= render 'items/pedidos', item:item %>
					</tr>
					<% end %>
					<tr>
						<td><%= f.link_to_add "", :item_pedidos, :class => "fa fa-plus text-info"%>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row-fix-div products-info col-md-12">
			<div class="col-md-4 col-xs-2">
				<span class="total_factura">
					<% if @pedido.total %>
					$<%= @pedido.total %>
					<% else %>
					$0.0
					<% end %>
				</span>
			</div>
			<div class="col-md-8 col-xs-10 text-right opcions">
				<% unless @pedido.mesa.nil? %>
				<%= link_to "Facturar", facturar_pedido_path(@pedido),remote: true, class: "ttip btn btn-default" %>
				<% end %>
				<%= f.submit :Guardar, class: "btn btn-info", data: {disable_with: "Almacenando"}%>
			</div>
		</div>
		<% end %>
	</div>
</div>

