$(".pedido-camarero").prepend('<%= j(render partial: 'pedidos/cliente', locals: {pedido: @pedido}) %>');
$(".factura-mesa").hide();
$(".factura-mesa").slideDown(500);
$(".pedido-form").slideUp();
window.Helpers.AutocompleteHelper.init_autocomplete();
window.Helpers.ShowFacturaMesa.show();
window.Helpers.GetIdenticon.generate();
