<li>
	<div class="content">
		<% unless mesa.ocupada?%>
		<div class="info-mesa">
			<span class="numero">Mesa <%= mesa.numero%></span>
			<span class="consumo pull-rigth">$ 0.00</span>
			<div class="icon"><span class="flaticon-cutlery6"></span></div>
			<div class="opcions-mesa"><%= link_to "Pedido", new_mesa_pedido_path(mesa), class: "label label-success"%></div>
		</div>
		<% else %>
		<div class="info-mesa">
			<span class="numero">Mesa <%= mesa.numero%></span>
			<span class="consumo pull-rigth">$ <%= mesa.pedidos.last.total %></span>
			<div class="icon"><span class="flaticon-man288"></span></div>
			<div class="opcions-mesa"><%= link_to "Pedido", edit_mesa_pedido_path(mesa, mesa.pedidos.last), class: "label label-success"%></div>
		</div>
		<% end %>
	</div>
</li>
