<%= nested_form_for @producto, :remote => true do |f| %>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <% if @producto.tipo == "menu" %>
  <h3 class="modal-title fa fa-cutlery" id="myModalLabel"> Nuevo Plato</h3>
  <% else %>    
  <h3 class="modal-title" id="myModalLabel">Nuevo Producto</h3>
  <% end %>
</div>
<div class="modal-body field">
  <ul class="list-inline row">
    <li class="col-md-4">
      <%= f.hidden_field :id %>
      <%= f.hidden_field :tipo %>
      <%= f.label :nombre %>
      <%= f.text_field :nombre, :class => "nombre_producto"%>
    </li>
    <li class="col-md-4">
      <%= f.label :codigo, "Código" %>
      <%= f.text_field :codigo %>
    </li>
  <% if @producto.tipo == "menu" %>
    <li class="col-md-4">
      <%= f.label :categoria,"Categoría" %>
      <%= f.select(:categoria, ['Plato Fuerte','Ceviche','Sopa','Bebida','Postre','De la casa', 'Desayuno','Almuerzo', 'Otros'], {}, { :class => 'form-control' }) %>
    </li>
  <% end %>
    <li class="col-md-4">
      <%= f.label :precio_compra, "Precio de compra" %>
      <%= f.number_field :precio_compra,:class => "precio_compra", :placeholder => "0.00", min: "0", step: "any"%>
    </li>
    <li class="col-md-4">
      <%= f.label :precio_venta %>
      <%= f.number_field :precio_venta, :placeholder => "0.00", min: "0", :step => "any" %>
    </li>
    <li class="col-md-4">
      <%= f.label :hasiva, "Tiene IVA?" %>
      <%= f.check_box :hasiva %>
    </li>
  </ul>
  <% unless @producto.tipo == "menu" %>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha Caducidad</th>
        <th>Cantidad</th>
        <th>Lote</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <%= f.fields_for :ingreso_productos, :wrapper => false do |p| %>
     <tr class="fields">
       <%= render "productos/ingresos", p: p %>
     </tr>
     <% end %>
     <tr><td><%= f.link_to_add "", :ingreso_productos, :class => "fa fa-plus"%></td>
     </tr>
   </tbody>
 </table>
 <% end %>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary"%>
</div>
<% end %>
