<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2 class="modal-title" id="myModalLabel"><%= @producto.nombre %></h2>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <strong>Categoría:</strong>
      <%= @producto.categoria %><br>
      <strong>Código:</strong>
      <%= @producto.codigo %>
    </div>
    <div class="col-md-6">
      <strong>Precio de compra:</strong>
      <%= @producto.precio_compra %><br>
      <strong>Precio de venta:</strong>
      <%= @producto.precio_venta %><br>
      <strong>Incluye iva:</strong>
      <%= @producto.hasiva%>
      <!-- <strong>Stock:</strong>
      <%= @producto.stock%> -->
    </div>
  </div>
  <% unless @producto.ingreso_productos.empty? %>
  <legend>Detalles del producto:</legend>
  <table class="table table-hover">
    <thead class= "well">
      <tr>
        <th>Lote</th>
        <th>Cantidad</th>
        <th>Fecha de caducidad</th>
      </tr>
    </thead>
    <tbody>
      <% @producto.ingreso_productos.each do |detalle| %>
      <% unless detalle.cantidad == 0 %>
      <tr>
        <td><%= detalle.lote %></td>
        <td><%= detalle.cantidad %></td>
        <td><%= detalle.fecha_caducidad %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
