<div class="row white-backg">
	<legend>Productos</legend>
	<div class="white-backg">
		<%= link_to ' Nuevo Producto', new_producto_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal',title: "Nuevo", class: "btn btn-info fa fa-plus btn-xs"}  %>
		<%= link_to ' Agregar Menu', productos_new_menu_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal',title: "Nuevo", class: "btn btn-info fa fa-cutlery btn-xs"}  %>
	</div>
	<div class="all-products">
		<% @casa.each do |c| %>
		<div class="col-xs-12 col-md-4" style = "margin-bottom: 10px;">
			<div class="col-md-3 col-xs-3 category">
				<span class="flaticon-waiter menu-casa"></span>
			</div>
			<div class="col-md-6 col-xs-7 text-left">
				<%= c.nombre  %><br>
				Precio Venta: $<%= c.precio_venta  %>
				Precio Compra: $<%= c.precio_compra  %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= link_to "editar", edit_producto_path(c.id), class: "btn btn-xs btn-default",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal' %>
			</div>
		</div>
		<% end %>
		<% @plato_fuertes.each do |c| %>
		<div class="col-xs-12 col-md-4" style = "margin-bottom: 10px;">
			<div class="col-md-3 col-xs-3 category">
				<span class="flaticon-food14 circle-red"></span>
			</div>
			<div class="col-md-6 col-xs-7 text-left">
				<%= c.nombre  %><br>
				Precio Venta: $<%= c.precio_venta  %>
				Precio Compra: $<%= c.precio_compra  %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= link_to "editar", edit_producto_path(c.id), class: "btn btn-xs btn-default",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal' %>
			</div>
		</div>
		<% end %>
		<% @ceviches.each do |c| %>
		<div class="col-xs-12 col-md-4" style = "margin-bottom: 10px;">
			<div class="col-md-3 col-xs-3 category">
				<span class="flaticon-salty circle-green"></span>
			</div>
			<div class="col-md-6 col-xs-7 text-left">
				<%= c.nombre  %><br>
				Precio Venta: $<%= c.precio_venta  %>
				Precio Compra: $<%= c.precio_compra  %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= link_to "editar", edit_producto_path(c.id), class: "btn btn-xs btn-default",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal' %>
			</div>
		</div>
		<% end %>
		<% @sopas.each do |c| %>
		<div class="col-xs-12 col-md-4" style = "margin-bottom: 10px;">
			<div class="col-md-3 col-xs-3 category">
				<span class="flaticon-soup circle-green"></span>
			</div>
			<div class="col-md-6 col-xs-7 text-left">
				<%= c.nombre  %><br>
				Precio Venta: $<%= c.precio_venta  %>
				Precio Compra: $<%= c.precio_compra  %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= link_to "editar", edit_producto_path(c.id), class: "btn btn-xs btn-default",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal' %>
			</div>
		</div>
		<% end %>
		<% @bebidas.each do |c| %>
		<div class="col-xs-12 col-md-4" style = "margin-bottom: 10px;">
			<div class="col-md-3 col-xs-3 category">
				<span class="flaticon-root circle-blue"></span>
			</div>
			<div class="col-md-6 col-xs-7 text-left">
				<%= c.nombre  %><br>
				Precio Venta: $<%= c.precio_venta  %>
				Precio Compra: $<%= c.precio_compra  %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= link_to "editar", edit_producto_path(c.id), class: "btn btn-xs btn-default",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal' %>
			</div>
		</div>
		<% end %>
		<% @postres.each do |c| %>
		<div class="col-xs-12 col-md-4" style = "margin-bottom: 10px;">
			<div class="col-md-3 col-xs-3 category">
				<span class="flaticon-sweet9 postre"></span>
			</div>
			<div class="col-md-6 col-xs-7 text-left">
				<%= c.nombre  %><br>
				Precio Venta: $<%= c.precio_venta  %>
				Precio Compra: $<%= c.precio_compra  %>
			</div>
			<div class="col-md-2 col-xs-2">
				<span class="btn btn-xs btn-default">editar</span>
			</div>
		</div>
		<% end %>
	</div>
</div>
<!-- flaticon-glass35 -->