<%- if @producto.errors.any? %>
$('#content_modal').html('<%= escape_javascript(render('form')) %>');
window.Helpers.FormsHelper.init()
<%- @producto.errors.full_messages.each do |msg|%>
alertify.error("<%=j msg %>");
<%- end %>
<%- else %>
m = $('#content_modal');
// content = $("<div class='text-center text-white'><i class=' fa fa-check-circle fa-5x text-center'></i><h5>Almacendo</h5></div>")
m.toggleClass("hovered");
m.html('<%= j(render partial: 'shared/animation') %>');
// $('.spinner').html(content).fadeOut(1000).fadeIn(3000);

var hide_modal = function() {
  $("#myModal").modal("hide");
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();
  $(".table-productos").html('<%= j render 'productos', productos: @productos %>');
  m.toggleClass("hovered");
  window.Helpers.init_datatables();
}
setTimeout(hide_modal, 1500);
<%- end %>
