<td class=" col-md-5">
	<%= item.text_field :descripcion, class: "form-control-border autocomplete_producto", :placeholder =>" Ingrese Producto"%>
</td>

<td class="cantidad-table">
	<%=  item.hidden_field :producto_id, class: "producto_id" %>
	<input type="text" class="hasiva hidden">
	<%=  item.number_field  :cantidad, class: "form-control-border cantidad", :placeholder => "0", min: "1" %>
</td>

<td class="vu-table">
	<%= item.text_field :valor_unitario, :readonly => true, class: "form-control-border valor_unitario" %>
</td>

<td class="iva-table">
	<%= item.text_field :iva, :readonly => true, class: "form-control-border iva" %>
</td>

<td class="total-table">
	<%= item.text_field :total, :readonly => true, class: "form-control-border total_item" %>
	<input type="text" class="precio_venta hidden">
</td>

<td>
	<%= item.link_to_remove '', :class => "fa fa-times text-danger delete_destroy eliminar_item" %>
</td>
