footer
  margin-top: 15px

.brand_img
  height: 20px
  width: 77px
  display: block
  float: left
  padding: 5px 20px 10px
  margin-left: -20px

.alertify-logs
  top: 70px
  right: 30px

.modal-header
  background-color: #607d8b !important
  color: #fff !important


.modal-content
  background-size: 100% 200%
  background-image: linear-gradient(to bottom, white 50%, #4db6ac 50%)
  -webkit-transition: background-position 1s
  -moz-transition: background-position 1s
  transition: background-position 1s

.modal-content.hovered
  background-position: 0 -100%

.factura-content
  background-size: 100% 200%
  background-image: linear-gradient(to bottom, white 50%, #4db6ac 50%)
  -webkit-transition: background-position 1s
  -moz-transition: background-position 1s
  transition: background-position 1s

.factura-content.hovered
  background-position: 0 -100%

.navbar-default
  background-color: #fff !important
.modal-footer
  background-color: #f5f5f5 !important
  margin-top: 0px !important

.modal-dialog
  border-radius: 10px !important

// .btn-info, .btn-primary, .btn-success, .btn-warning, .btn-danger, .btn=default
// .btn
  // border-radius: 17px !important

// google palette
.btn-info
  background-color: #03a9f4 !important

.btn-success
  background-color: #259b24 !important

.btn-primary
  background-color: #5677fc !important

// .btn-info
//   background-color: #03C4C1 !important

// .btn-success
//   background-color: #6EB590 !important
//   border-color: #60A883 !important

// autocomplete styles:
.ui-autocomplete.ui-menu
  z-index: 4444
