@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"], [class*=" flaticon-"] {
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flaticon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.flaticon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.flaticon-2x {
  font-size: 2em;
}
.flaticon-3x {
  font-size: 3em;
}
.flaticon-4x {
  font-size: 4em;
}
.flaticon-5x {
  font-size: 5em;
}


}.flaticon-bon1:before {
  content: "\e000";
}
.flaticon-breakfast1:before {
  content: "\e001";
}
.flaticon-cinema17:before {
  content: "\e002";
}
.flaticon-cola:before {
  content: "\e003";
}
.flaticon-cold4:before {
  content: "\e004";
}
.flaticon-cutlery6:before {
  content: "\e005";
}
.flaticon-drink24:before {
  content: "\e006";
}
.flaticon-flat15:before {
  content: "\e007";
}
.flaticon-food14:before {
  content: "\e008";
}
.flaticon-fried:before {
  content: "\e009";
}
.flaticon-guacamole:before {
  content: "\e00a";
}
.flaticon-hot56:before {
  content: "\e00b";
}
.flaticon-italian1:before {
  content: "\e00c";
}
.flaticon-man288:before {
  content: "\e00d";
}
.flaticon-restaurant31:before {
  content: "\e00e";
}
.flaticon-root:before {
  content: "\e00f";
}
.flaticon-salty:before {
  content: "\e010";
}
.flaticon-soup:before {
  content: "\e011";
}
.flaticon-spaghetti1:before {
  content: "\e012";
}
.flaticon-sweet9:before {
  content: "\e013";
}
.flaticon-waiter:before {
  content: "\e014";
}
.flaticon-wine11:before {
  content: "\e015";
}
