  /*grid mesas*/
  .grid {
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    max-width: 76em;
    margin: 0 auto;
  }
  .grid li {
    padding: 0 0.5em 0.5em 0;
    list-style: none;
    border-radius: 5px;
    border: solid #fafafa;
  }
  .grid li > .content .info-mesa {
    background: #fff;
    padding: 1em 1em;
  }
  
  .grid li > .content .info-mesa .numero{
    color: #807C7C;
    font-size: 18px;
    text-align: left;
  }
  
  .grid li > .content .info-mesa .consumo{
    color: #ACD88C;
    font-size: 18px;
    /*text-align: right;*/
    padding-left: 40%;
  }

  .grid li > .content .icon {
    background: #fff;
    padding: 3em 1em;
    text-align: center;
  }
  
  .grid li > .content .icon span{
    color: #807C7C;
    font-size: 60px;
    text-align: center;
  }

  .grid li > .content .opcions-mesa {
    background: #fff;
    padding: 1em 1em;
    text-align: center;
  }
  

  /*.grid li span {
    color: #ccc;
    font-size: 30px;
    text-align: center;
    padding: 25px 30px;
    }*/

    @media all and (min-width: 27em) {
      .grid li {
        width: 50%;
        float: left;
      }
    }

    @media all and (min-width: 40em) {
      .grid li {
        width: 33.3333333%;
      }
      .grid li.wide {
        width: 66.666666%;
      }
    }
    @media all and (min-width: 60em) {
      .grid li {
        width: 25%;
      }
      .grid li.wide {
        width: 50%;
      }
    }

    .total_factura{
      color: #ACD88C;
      font-size: 25px;
    }
    
    .menu-casa{
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 25px;
      line-height: 1.33;
      border-radius: 5px;
      background-color: #1abc9c;
      color:#fff;
    }

    .circle-green{
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 25px;
      line-height: 1.33;
      border-radius: 5px;
      background-color: #39d179;
      color:#fff;
    }

    .circle-blue{
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 25px;
      line-height: 1.33;
      border-radius: 5px;
      background-color: #5bc0de;
      color:#fff;
    }
    .circle-red{
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 25px;
      line-height: 1.33;
      border-radius: 5px;
      background-color: #e74c3c;
      color:#fff;
    }

    .postre{
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 25px;
      line-height: 1.33;
      border-radius: 5px;
      background-color: #9b59b6;
      color:#fff;
    }

    .category{
      padding-top: 15px;
      font-size: 20px;
      text-align: center;
    }
    .category-blue{
      background-color: #5bc0de;
    }
    .category-green{
      background-color: #47a447;
    }
