<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to(" Kasira", root_path, class: "navbar-brand fa fa-cutlery fa fa-5x" )%>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-user"></span>
            <%=current_user.username %> 
            <b class="fa fa-angle-down"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Perfil', edit_user_path(current_user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}%></li>
            <li class="divider"></li>
            <li><%= link_to 'Factura', new_factura_path %></li>
            <li><%= link_to 'Productos', productos_path %></li>
            <li><%= link_to 'Clientes', clientes_path %></li>
            <li><%=link_to("Salir", :controller => 'user_sessions', :action => 'destroy')%></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
