<!DOCTYPE html>
<html>
<head>
	<title>Kasira</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= javascript_include_tag Sync.adapter_javascript_url %>
	<%= csrf_meta_tags %>
</head>
<header>
	<% if current_user %>
	<%= render 'layouts/user' %>
	<% else %>
	<div class="hero-unit text-info">
		<h2>Pescaderia Los Delfines</h2>
		<br>
	</div>
	<%end%> 
</header>
<body>
	<div role="main">
		<div class="container">
			<%= render 'layouts/flash' %>
			<%= yield %>
			<%= render 'layouts/modal' %>
		</div>
	</div>
</body>
</html>
